
*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    /* color: aliceblue;  */
}

.main-container{
    /* border: 1px solid black; */
    height: 100vh;
}

/* FRIENDS TAB */
#friendsTab{
    height: 87vh;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    background-color: gray;
}

.friendsTabContainer{
    width: 60%;
    height: 100%;
    margin: auto;
    background-color: whitesmoke;
}

