.navbar{
    width: 100%;
    min-height: 70px;
    height: 7vh;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
} 

.logo{
    width: 150px;
}

.navbar-toggler .navbar-toggler-icon{
    width: 20px;
    height: 20px;
}

.settings-dialog{
    border-radius: 0%;
    margin-top: 0;
    margin-right: 0;
    height: 100vh;
    max-width: 20%;
}
.settings-content{
    border-radius: 0%;
    height: 100%;
}
.settings-header{
    border-radius: 0%;
}
.settings-body{
    border-radius: 0%;
    background-color: lightgray;
}

#logout{
    text-decoration: none;
}



@media (max-width: 900px){
    .settings-dialog{
        max-width: 30%;
        margin-right: 0;
        border: 2px solid green;
    }
}
@media (max-width: 575px){
    .navbar{
        min-height: unset;
        height: unset;
    } 
    .settings-dialog{
        max-width: 50%;
        margin-right: 0;
        border: 2px solid green;
    }
}