.navbar{
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
} 

.logo{
    width: 150px;
}

.navbar-toggler .navbar-toggler-icon{
    width: 20px;
    height: 20px;
}

.modal-dialog{
    border-radius: 0%;
    margin-top: 0;
    margin-right: 0;
    height: 100vh;
    max-width: 20%;
}
.modal-content{
    border-radius: 0%;
    height: 100%;
}
.modal-header{
    border-radius: 0%;
}
.modal-body{
    border-radius: 0%;
    background-color: lightgray;
}

#logout{
    text-decoration: none;
}



@media (max-width: 900px){
    .modal-dialog{
        max-width: 30%;
        margin-right: 0;
        border: 2px solid green;
    }
}
@media (max-width: 575px){
    .modal-dialog{
        max-width: 50%;
        margin-right: 0;
        border: 2px solid green;
    }
}