*{
    padding: 0; 
    margin: 0; 
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    /* border: 1px solid black; */
}
/* MAIN CONTAINER */
.main-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.container{
    height: 95%;
    width: 90vw;
}

.row{
    height: 100%;
}
#divLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divLogin h1{
    font-weight: bolder;
}

#divLogin .form-floating, #divBtn{
    width: 90%;
    margin-top: 50px;
}

#divBtn{
    display: flex;
    justify-content: center;
    gap:30px;
}

#divBtn .btn{
    width: 150px;
    font-size: large;
}

#popover{
    /* border: 1px solid lightgray; */
    padding: 2px;
    font-size: small;
    display: none;
    
}