*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    /* color: aliceblue;  */
}

.main-container{
    /* border: 1px solid black; */
    height: 100vh;
}

/* PROFILE CONTAINER */
#profileContainer{
    height: 93vh;
    width: 100%;
    margin: auto;
    overflow-y: auto;
}

#profileContainer ::-webkit-scrollbar{
    background-color: transparent;
    width: 7px;
}
#profileContainer ::-webkit-scrollbar-thumb{
    background-color: #b8cad5;
}

/* Profile column */
#profileColumn{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    height: 100%;
    overflow-y: scroll;
}

/* Profile Picture Container */
#profilePicCont{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#profilePicture{
    border: 1px solid lightgray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profilePictureInput{
    font-size: 5px;
    display: none;
}

.uploadEditPictureCont{
    width: 100%;
}

/* button upload and edit profile picture */
#btnUploadProfilePic{
    width: 15px;
    height: 15px;
    background-image: url('../bootstrap/icon/bootstrap-icons-1.11.3/upload.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: inherit;
    display: none;
}

#btnEditProfilePic{ 
    width: 15px;
    height: 15px;
    background-image: url('../bootstrap/icon/bootstrap-icons-1.11.3/pencil.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: inherit;
}

.btnSaveDiscard{
    font-size: x-small;
    display: none;
}

/* Bio Container */
#bioCont{
    text-align: center;
}
#socialCont, #contactCont{
    text-align: left;
}

.cont{
    width: 100%;
    text-align: left;
}

/* Profile Button */
#btnCont{
    width: 100%;
    padding: 5px;
    margin: auto;
}

/* Create Post Modal */
.create-post-dialog{
    margin: auto;
    margin-top: 10vh;
    height: 500px;
    width: 90%;
}
.create-post-modal-body{
    height: 500px;
}
#postCaptions{
    width: 100%;
    height: 170px;
}
.create-post-modal-footer{
    display: flex;
    justify-content: center;
}
.createPostBtn{
    min-width: 120px;
}


/* Posts column in profile tab =================================*/
#profilePost{
    height: 100%;
    border-left: 1px solid lightgray;
    overflow: auto;
}

/* the container of post */
.post{
    min-height: 20%; 
    max-height: 90%; 
    width: 95%; 
    max-width: 100%;
    background-color: #e4f6ff;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 2px 5px 0px rgb(171, 160, 160);
}

/* container of name and profile picture of every post */
.post-image-name{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

/* the small image */
.postSmallImage{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.date-time{
    width: 100%;
    border-bottom: 1px solid rgb(232, 228, 228);
}

.date-time-content{
    margin: 0;
    margin-left: 45px;
    font-size: small;
}

.btn-edit-delete-container{
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.btn-edit-delete-post{
    border: none;
    background-color: inherit;
    width: 17px;
}

.btn-edit-delete-post img{
    width: 100%;
}

.post-captions{
    width: 90%;
    max-height: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 2px;
    font-size: larger;
}

.post-captions-content{
    margin: 0;
    overflow-y: scroll;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.post-image-video{
    width: 90%;
    height: 280px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid rgb(232, 228, 228);
    display: none;
    /* display: block; */
}

.post-reactions-comment-share{
    border-top: 1px solid rgb(232, 228, 228);
    display: flex;
    justify-content:space-around;
    padding: 5px;
}

.btn-prcs{
    background-color: transparent;
    border: none;
    width: 25%;
    height: 100%;
    border-radius: 10px;
}
.btn-prcs:hover{
    background-color: rgb(218, 235, 244);
    color: blue;
}


/* reaction modal */
.reactEmojiModalDialog{
    position: fixed;
    /* bottom: 0; */
    margin: auto;
    margin-top: 50vh;
    width: 95%; 
    left: 0;
    right: 0;
}
.reactEmojiModalHeader {
   padding: 2px;
   padding-left: 10px;
   padding-right: 10px;
}
.reactEmojiModalBody{
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnReact{
    border: none;
    background-color: transparent; 
    border-radius: 50%;
}
.btnReact:focus, .btn-prcs:focus{
    border: none;
    outline: none;
}
.react-text{
    display: none;
}
/* .btnReact:hover{
    border: none;
    background-color: rgb(218, 235, 244);
    height: 40px;
    width: 40px;
} */
/* .btnReact:hover img{
    height: 30px;
    width: 30px;
} */

/* .btnReact:hover .react-text{
    display: block;
} */

/* Highlight the post with emoji if already reacted*/
.reacted-emoji-like{
    background-color: #c7e5f1;
}
.reacted-emoji-dislike{
    background-color: #b0c8d4;
}
.reacted-emoji-haha{
    background-color: #f1eac7;
}
.reacted-emoji-love{
    background-color: #f0b8a6;
}
.reacted-emoji-inlove{
    background-color: #fbd9b8;
}
.reacted-emoji-wow{
    background-color: #f1eac7;
}
.reacted-emoji-angry{
    background-color: #f9d8ca;
}


/* Comment modal */
.write-comment-modal-dialog{
    margin: auto;
    margin-top: 5vh;
    width: 95%; 
}
.write-comment-body{
    overflow: auto;
    height: 65vh;
}
.user-comments-container{
    padding: 4px;
    border-radius: 10px;
}
.user-comments-name-date{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.user-comments-name-date h5{
    margin: auto;
    margin-right: 20px;
}
.user-comments-name-date small{
    font-size: x-small;
}
.write-comment-modal-footer{
    padding: 0;
    display: inline-flex;
    justify-content: flex-start;
}
#inputComment{
    /* margin: auto; */
    width: 73%;
    min-height: 70px;
    max-height: 100px;
}
.writeCommentBtn{
    width: 20%;
}


/* confirmation modal */
.confirmation-modal-dialog{
    margin-top: 25vh;
}