*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    /* color: aliceblue;  */
}

.main-container{
    /* border: 1px solid black; */
    height: 100vh;
    /* background-color: lightblue; */
}

/* PROFILE CONTAINER */
#profileContainer{
    height: 90vh;
    width: 100%;
    margin: auto;
}

#profileColumn{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
   height: 100%;
}

/* Profile Picture Container */
#profilePicCont{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#profilePicture{
    border: 1px solid lightgray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profilePictureInput{
    font-size: 5px;
    display: none;
}

.uploadEditPictureCont{
    width: 100%;
}

/* button upload and edit profile picture */
#btnUploadProfilePic{
    width: 15px;
    height: 15px;
    background-image: url('../bootstrap/icon/bootstrap-icons-1.11.3/upload.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: inherit;
    display: none;
}

#btnEditProfilePic{ 
    width: 15px;
    height: 15px;
    background-image: url('../bootstrap/icon/bootstrap-icons-1.11.3/pencil.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: inherit;
}

.btnSaveDiscard{
    font-size: x-small;
    display: none;
}

/* Bio Container */
#bioCont{
    text-align: center;
}

.bio-title{
    width: 100%;
    text-align: left;
}

/* Profile Button */
#btnCont{
    width: 100%;
    padding: 5px;
    margin: auto;
}

/* Post in profile tab */
#profilePost{
    border-left: 1px solid lightgray;
    overflow: auto;
    height: 100%;
}