*{
    padding: 0;
    margin: 0; 
    color: blue;
    font-family: 'Courier New', Courier, monospace; 
}
/* MAIN CONTAINER */
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.container{
    height: 95%;
    width: 90vw;
}

.row{
    height: 100%;
}
#divLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divSignup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divSignup h1{
    font-weight: bolder;
}

#divSignup .form-floating, #divBtnContainer{
    width: 90%;
    margin-top: 30px;
}
#emailWarningMsg{
    display: none;
}

#divBtnContainer{
    display: flex;
    justify-content: center;
    gap:30px;
  
}

#divBtnContainer .btn{
    width: 150px;
    font-size: large;
}

.input-pass-msg{
    display: none;
}

#showHideToolTip{
    display: none;
}

.receiver-email {
    font-size: large;
    color: maroon;
}

#inputVerificationCode{
    text-align: center;
    width: 50%;
    border: none;
    border-bottom: 1px solid darkgrey;
    margin: auto;
    border-radius: 0%;
    font-size:x-large;
    font-weight: bold;
}

.modal-dialog{
    margin-top: 40vh;
}

.modal-footer{
   display: flex;
   justify-content: center;
   align-items: center;
}